@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1>Gold Spike BBQ</h1>
</header>
<div class="container">
    <h2>My BBQ Adventure</h2>
    <p>
        I consider myself a BBQ pitmaster... in training. I spend all of my free time buying meats so I can perfect the art.
        With this site, I will show you some of my passion as well as offer my services to those who are trying to learn!
    </p>
    <img src="~/images/better picture.jpg" alt="BBQ Image 1">
    <p>
        Recently, I went with my wife to Fort Worth, Texas, to go on a little BBQ tour. While there, we had the best BBQ of our lives. We met some great people and had an incredible experience! One of the places we went to was Goldees, and now I am purchasing their smoker!
    </p>
    <img src="~/images/goldees-smoker-scaled.jpg" alt="BBQ Image 2">
    <p>
        Someday I would love to start a BBQ food truck and maybe eventually a restaurant. The BBQ scene in Utah is rather rough, and so I would like to bring in some authentic BBQ. I want to bring in the Texas Beef, the Carolina Pork, and the Southern vibe. BBQ is more than just food; it's a culture!
    </p>
    <div class="image-gallery">
        <img src="~/images/img_7497.jpg" alt="BBQ Image 3">
        <img src="~/images/img_7512.jpg" alt="BBQ Image 4">
        <img src="~/images/img_7521.jpg" alt="BBQ Image 5">
    </div>
    <p>
        Here are some photos of the BBQ we had during our trip in Texas!
    </p>
</div>